body{
font-family: Arial;
margin:0;
background:#f5f7fb;
}


/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
background:#1f4e79;
color:white;
padding:15px 40px;
}

.header-left{
display:flex;
align-items:center;
gap:15px;
}

.logo{
width:60px;
}

.header-center{
text-align:center;
}

.header-right{
background:#2e6aa1;
padding:10px 20px;
border-radius:8px;
}


/* CARDS */

.cards{
display:flex;
gap:20px;
padding:25px 40px;
}

.card{
flex:1;
background:white;
border-radius:12px;
padding:20px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card h2{
color:#1f4e79;
margin:5px 0;
}


/* GRID */

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:0 40px 25px 40px;
}

.panel{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.panel h3{
margin-top:0;
color:#1f4e79;
}


/* MAP PLACEHOLDER */

.map-placeholder{
height:350px;
display:flex;
align-items:center;
justify-content:center;
background:#e3e8f0;
border-radius:8px;
color:#555;
}

#map{
height:350px;
border-radius:10px;
}

#kabupatenSelect{
padding:8px;
margin-bottom:10px;
border-radius:6px;
border:1px solid #ccc;
}

.kab-info{
font-size:14px;
margin-bottom:10px;
color:#444;
}